h5{
  background-color: #ffffff;
  margin: 0px;
  padding: 5px;
  width:97%;
  position: relative;
  clear: both;
  bottom: 0;

}

body{
  color: white;
}

img{
  width: 20%;
  position: left;
  margin: 4px;
  height: bottom;
  opacity:0.8;
}

p{
  font-size: 12px;
}
