

<!-- <h2> MAHA - form</h2> -->

<p>

  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
   </button>
   <img [src]="fullImagePath">
   <span class="example-spacer"></span>
   <button mat-icon-button>
     <span class="material-icons">
       save file
     </span>
   </button>
   <button mat-icon-button>
     <span class="material-icons">
      logout
     </span>
   </button>
  </mat-toolbar>
</p>


  <!-- <button mat-button>Basic</button> -->




