<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="./assets/img/usuario.png">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>User</mat-label>
                <input matInput autocomplete="off" formControlName="user">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <!-- <mat-label>Password</mat-label> -->
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <br>
            <button mat-raised-button type= "submit" class= "ancho button" color="primary" [disabled]="form.invalid">Submit</button>
        </form>
    </div>
</div>


